<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{static/css/styles.css}"/>
    <title>Users</title>
</head>
<body>
<p>Продукты</p>
   <table>
       <thead>
       <tr>
           <td>ID</td>
           <td>Название</td>
           <td>Цена</td>
       </tr>
       </thead>
       <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td><a th:href="@{/product/{id}(id=${product.id})}" th:text="${product.name}"></a></td>
            <td th:text="${product.price}"></td>
        </tr>
       </tbody>
   </table>
    <a th:href="@{/product/add}">Добавить продукт</a>
</body>
</html>