<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean name="repository" class="ru.fomin.repositories.ProductRepo" />
    <bean name="cart" class="ru.fomin.entities.Cart" scope="prototype">
        <constructor-arg ref="repository"/>
    </bean>
</beans>